<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bits&Bytes</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <navbar class="nav">
          <img src="assets/logo3.png" alt="" id="logo" />
          <nav class="right">
            <a href="#to-students">To Students</a>
            <a href="">From Students</a>
            <a href="signin.html">Login/Register</a>
          </nav>
        </navbar>
        <section class="hero">
          <div class="product-description">
            <h2 class="slogan">Your food our route</h2>
            <p class="description">
              Tired of waiting at the main gate for your food? With Bits&Bytes
              get your favorite meals from restraunts and cafes all over Vellore
              delivered straight to your room! Whether it’s just a snack or a
              hearty dinner, we’ve got you covered. Just a few taps and your
              food is on its way. Fast, reliable, and oh-so-convenient!
            </p>
          </div>
          <div>
            <img src="assets/main2.png" alt="" id="main-bg" />
          </div>
        </section>
      </header>
      <section id="to-students">
        <div class="section1flex">
          <h2 class="to-heading">Your Food</h2>
          <h3 class="to-features">Features</h3>
          <ul class="to-feature-list">
            <li>
              Real-Time Tracking: Know exactly when your food will arrive with
              our live tracking feature.
            </li>
            <li>
              Customer Support: Our friendly support team is here to help you.
            </li>
            <li>
              Secure Payments: Multiple payment options including UPI,
              credit/debit cards, and digital wallets for your convenience.
            </li>
            <li>
              Convenience: No more waiting at the main gate. Get your food
              delivered directly to your room.
            </li>
            <li>
              Track Your Order: Get real-time updates on your delivery status.
            </li>
            <li>Enjoy Your Meal: Delivered right to your room, hassle-free!</li>
          </ul>
        </div>
        <div class="section1flex2">
            <img src="assets/" alt="" class="to-picture">
        </div>
      </section>
      <section id="from-students">
        <div class="section1flex">
          <h2 class="to-heading">Our Route</h2>
          <h3 class="to-features">Features</h3>
          <ul class="to-feature-list">
            <li>
              Real-Time Tracking: Know exactly when your food will arrive with
              our live tracking feature.
            </li>
            <li>
              Customer Support: Our friendly support team is here to help you.
            </li>
            <li>
              Secure Payments: Multiple payment options including UPI,
              credit/debit cards, and digital wallets for your convenience.
            </li>
            <li>
              Convenience: No more waiting at the main gate. Get your food
              delivered directly to your room.
            </li>
            <li>
              Track Your Order: Get real-time updates on your delivery status.
            </li>
            <li>Enjoy Your Meal: Delivered right to your room, hassle-free!</li>
          </ul>
        </div>
        <div class="section1flex2">
            <img src="assets/" alt="" class="to-picture">
        </div>
      </section>
      <!-- <section id="from-students">
        <h2 class="from-heading">
            Order from your room 
        </h2>  
        <h3 class="from-features">Features</h3>
        <ul>
            
        </ul>
      </section> -->
    </div>
  </body>
</html>
