<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bits&Bytes</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- <div class="sign-in">
            <form>
              <label for="">Registration No. </label>
              <input type="text" id="regno" class="regno" name="_csrf" /><br />
              <label for="">Password</label>
              <input type="text" id="password" class="password" name="_csrf" /><br />
              <button type="submit" class="submit">Submit</button>
            </form>
          </div> -->
      <header>
        <navbar class="nav">
          <img src="{% static 'assets/logo4.jpeg' %}" alt="" id="logo" />
          <nav class="right">
            <a href="#to-students">To Students</a>
            <a href="">From Students</a>
            <a href="{% url 'signup' %}" id="login">Login/Register</a>
          </nav>
        </navbar>
        <section class="hero">
          <div class="product-description">
            <h2 class="slogan">Your food our route</h2>
            <p class="description">
              Tired of waiting at the main gate for your food? With Bits&Bytes
              get your favorite meals from restraunts and cafes all over Vellore
              delivered straight to your room! Whether it’s just a snack or a
              hearty dinner, we’ve got you covered. Just a few taps and your
              food is on its way. Fast, reliable, and oh-so-convenient!
            </p>
          </div>
          <div>
            <img src="{% static 'assets/main3.png' %}" alt="" id="main-bg" />
          </div>
        </section>
      </header>
      <section id="to-students">
        <div class="section1flex">
          <h2 class="heading">Your Food</h2>
          <h3 class="to-features">Features</h3>
          <ul class="to-feature-list">
            <li>
              Real-Time Tracking: Know exactly when your food will arrive with
              our live tracking feature.
            </li>
            <li>
              Customer Support: Our friendly support team is here to help you.
            </li>
            <li>
              Secure Payments: Multiple payment options including UPI,
              credit/debit cards, and digital wallets for your convenience.
            </li>
            <li>
              Convenience: No more waiting at the main gate. Get your food
              delivered directly to your room.
            </li>
            <li>
              Track Your Order: Get real-time updates on your delivery status.
            </li>
            <li>Enjoy Your Meal: Delivered right to your room, hassle-free!</li>
          </ul>
        </div>
        <div class="section1flex2">
          <img src="{% static 'assets/toStudents.jpeg' %}" alt="" class="to-picture" />
        </div>
      </section>
      <section id="from-students">
        <div class="section1flex">
          <h2 class="heading">Our Route</h2>
          <!-- <h3 class="to-features">Features</h3> -->
          <p class="from-text">
            This website provides you options to act as a customer as well as a
            delivery agent. When you opt to be a delivery agent, you get to
            deliver food and earn money. Ladies' hostel blocks are classified
            into 2 groups A,B,G,H,Jand C,D,E,F. Men's hostel blocks are
            classified into 3 groups (A,C,E,H,J,K,M), (B,D,G) and
            (L,P,Q,R,S,T).So there will be different delivery agents assigned to
            different groups of blocks. On the website, delivery agents will be
            able to see the placed orders and the current status of the orders.
            The delivery agents will accept the orders accordingly with respect
            to their assigned blocks. Once they accept the order request, you
            can see the info of delivery agent assigned to you. You will be
            contact and track them and vice-versa. After collecting your food
            order from the main gate, the agents will be on their way to bring
            your food to you. . Once the food is delivered, you are expected to
            pay the supposed amount to our delivery agent which is determined on
            the distance between your block and the main gate.
          </p>
        </div>
        <div class="section1flex2">
          <img src="{% static 'assets/map.png' %}" alt="" class="from-picture" />
        </div>
      </section>
      <!-- <section id="from-students">
        <h2 class="from-heading">
            Order from your room 
        </h2>  
        <h3 class="from-features">Features</h3>
        <ul>
            
        </ul>
      </section> -->
    </div>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
