html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    line-height: 1.6;
    background-color: #ececec;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: #444;
}

.container {
    width: 100%;
}

.nav a {
    display: block;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.right {
    display: flex;
    justify-content: end;
    font-size: 24px;
    margin: 32px;
    gap: 32px;
}

#logo {
    height: 160px;
    margin-left: 20px;
}

#main-bg {
    height: 70vh;
    width: 45vh;
    margin-right: 10vh;
    border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
}

.slogan {
    font-weight: 700;
    font-size: 64px;
    text-align: left;
}

.description {
    font-weight: 300;
    font-size: 36px;
}

.product-description {
    width: 60vh;
    margin-left: 28px;
    margin-bottom: 15vh;
}

#to-students {
    padding: 32px;
    border-radius: 10px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 15%;
}

.section1flex {
    width: 50%;
}

.heading {
    font-size: 60px;
    font-weight: 600;
}

.to-features {
    font-size: 48px;
    font-weight: 500;
}

.to-feature-list {
    font-size: 22px;
    line-height: 1.7;
}

.to-feature-list li {
    padding-bottom: 15px;
}

.to-picture {
    border-radius: 72px;
    height: 90%;
    width: 80%;
}

#from-students {
    padding: 32px;
    border-radius: 10px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 15%;
}

.from-text {
    line-height: 1.6;
    font-size: 22px;
}

.from-picture {
    margin-top: 100px;
    border-radius: 18px;
    height: 40vh;
    width: 80%;
}

/* form {
    height: 75%;
    width: 20%;
    background-color: white;
    border: 1px solid #444;
    padding: 20px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Rubik", sans-serif;
    box-shadow: 0 0 55px #c7c3c3;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-20%, -40%);
    height: 30%;
}
input {
    height: 25px;
}
.submit {
    border: none;
    width: 100%;
    margin: auto;
    background: inherit;
    font-size: 2rem;
    border: 1px solid #777;
}
.submit:hover {
    color: darkgray;
} */