.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.image img{
    object-fit: cover;
    border-radius: 1rem;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem
}

.info{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    height: 100%;
}

.hero-text{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1;
}

.grad{
    background: -webkit-linear-gradient(0deg,#ff7e5b, #007bff,#ff7e5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-text{
    font-size: 1.2rem;
    color: #787878;
    max-width: 35rem;
    line-height: 1.2;
}

.cta{
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.cta button{
    padding: 0.8rem 1.8rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.runner{
    background: #000;
    color: #ff7e5b;
    border: 1px solid #787878;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}

.runner:hover{
    background: #c75d3f;
    color: #fff;
}

.customer{
    background: #007bff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    color: #fff;
    border: none;
}

.customer:hover{
    opacity: 0.7;
}